# super ignore any roms
*.z64

#build directores
build/
expected/
game/build-*/
utils/stamps/
utils/tarballs/
utils/binutils-*
utils/gcc-*

# external programs
.vscode/
.doit.db
__pycache__/
*.pyc

# os
.DS_STORE
